<div class="container">
  <div class="row">

  <% @articles.each do |article| %>
    <%= link_to article do %>
      <div class="col-md-3 margin-top-5per bg-white">
        <%= image_tag '872c46f058550416a440803459926e1f_t.jpeg', class: 'img-responsive padding-top-15' %>
        <div class="padding-bottom-15">
          <p class="title"><%= article.title %></p>
          <span>
            <%= article.created_at.strftime("%Y年%m月%d日") %>
          </span>
        </div>
      </div>
    <% end %>
  <% end %>
  </div>
  <div class="row">
    <%= link_to '新規作成', new_article_path, class: 'margin-top-5per btn btn-primary' %>
  </div>
</div>
